@media (max-width : 83rem) {
    
    html {
        font-size: 56.25%;
    }

    .add-to-cart-btn {
        padding: .8rem 3rem;
        left: 60px;
    }
}

@media (max-width : 74rem) {
    html {
        font-size: 50%;
    }

    .add-to-cart-btn {
        padding: .8rem 2.5rem;
        left: 55px;
    }
}

@media (max-width : 68rem) {
    html {
        font-size: 43.75%;
    }

    .add-to-cart-btn {
        left: 45px;
    }
}

/* COMPLETE THIS */
@media (max-width : 56.5rem) {
    html {
        font-size: 37.5%;
    }

    .add-to-cart-btn {
        left: 25px;
    }

}

@media (max-width : 23.75rem) {
    html {
        font-size: 63%;
    }

    .add-to-cart-btn {
        left: 100px;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 2px;
        margin-bottom: 1rem;
    }

    .position-container {
        margin-bottom: 0rem;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .cart-card {
        width: 100%;
    }
}