@media (min-width : 23.44rem) {
    html {
        font-size: 63%;
    }

.grid-container {
    grid-template-columns: 1fr;
    max-width: 400px;
}

.cart-card {
   position: static;
   margin-left: auto;
   margin-right: auto;
}

}

@media (min-width : 1200px) {
    html {
        font-size: 65.5%;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1000px;
    }

    .cart-card {
        position: fixed;
        top: 60px;
        right: 30px;
    }
}